{% extends '__manage__.html' %}

{% block title %}会员管理{% endblock %}

{% block beforehead %}

<script>
    var userlist =JSON.parse('{{users|tojson}}') ;
    var __userData = null;
    var __searchData = {};

    function setUserData(userData) {

        __userData = userData;
        $("#userName-input").val(__userData.userName);
        $("#phone-input").val(__userData.phone);
        $("#email-input").val(__userData.email);
        $("#wxOpenid-input").val(__userData.wxOpenid);
        $("#status-input").val(__userData.status);
        $("#headImage-image").attr("src",__userData.headImage);
        $("#headImage-input").val(__userData.headImage);
        var date = new Date(__userData.created_at);
        var formatDate = toSmartDate(__userData.created_at);

        $("#created_at-input").val(formatDate);
        $("#permissions-input").find("option[value='"+__userData.permissions+"']").prop('selected',true);//命中option

    }

    function function_click(count){
        setUserData(userlist[count]);
    }

    function save(){

        __userData.userName = $("#userName-input").val().trim();
        __userData.phone = $("#phone-input").val().trim();
        __userData.email = $("#email-input").val();
        __userData.status = $("#status-input").val();
        __userData.permissions = $("#permissions-input option:selected").attr('name');

        var $form = $('#function-info');
        if (! __userData.userName.trim()) {
            return $form.showFormError('请输入用户名');
        }
        if (! __userData.email.trim()) {
            return $form.showFormError('请输入邮箱地址');
        }

        $form.showFormLoading(true);
        postJSON('/api/users/update', __userData, function (err, r) {
            if (err) {
                return $form.showFormError(err);
            }else{
                $form.showFormLoading(false);
                setUserData(r);
                refresh();
            }
        });
    }

    function reloaduserlist() {
        $("#userslist").empty();
        i=0;
        for (users of userlist) {
            var para=document.createElement("li");

            var aitem=document.createElement("a");
            aitem.setAttribute("onclick", 'function_click("'+i+'")');
            var p=document.createElement("p");
            p.innerHTML = users.userName;

            var span1=document.createElement("span");
            span1.innerHTML = users.phone;
            var span2=document.createElement("span");
            span2.innerHTML = users.email;
            aitem.appendChild(p);
            aitem.appendChild(span1);
            aitem.appendChild(span2);
            para.appendChild(aitem);
            $("#userslist").append(para);
            i++;
        }
    }

    $(function () {

        $('#main-content').show();
        $('#loading').hide();
        if (__userData == null){
            setUserData(userlist[0]);
        }
        $(".search").change(function(){
            __searchData["page"]=1;
            __searchData[$(this).attr('name')]= $(this).val();

            var $form = $('#search-info');
            $form.showFormLoading(true);
            getJSON('/api/users/search', __searchData, function (err, r) {
                if (err) {
                    return $form.showFormError(err);
                }else{
                    $form.showFormLoading(false);
                    userlist = r.users;
                    reloaduserlist();
                }
            });

        });
    });


</script>

{% endblock %}

{% block main %}
<section id="main-content" class="panel">
    <div class="row">
        <section class="col-md-3">

            <section class="panel" id="functions-list">
                <header class="panel-heading">
                    会员列表
                </header>
                <div class="panel-body">
                    <ul id="userslist" class="nav prod-cat">
                        {% for item in users %}
                        <li>
                            <a  onclick="function_click('{{ loop.index0 }}')">
                                <p>{{ item.userName }}</p>
                                <span>{{ item.email }}</span>
                                <span>{{ item.phone }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </section>
        <section class="col-md-6">
            <form  id="users-info">
                <div class="uk-alert uk-alert-danger uk-hidden"></div>
                <div class="uk-form-row">
                    <label class="uk-form-label">会员名:</label>
                    <div class="uk-form-controls">
                        <input id="userName-input" type="text" maxlength="50" placeholder="功能名字" class="uk-width-1-1" {% if user %} value={{ user.name }} {% endif %}>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label class="uk-form-label">phone</label>
                    <div class="uk-form-controls">
                        <input id="phone-input" type="text" maxlength="50" placeholder="手机号码"
                               class="uk-width-1-1" {% if user %} value="{{ user.icon }}" {% endif %}>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">邮箱</label>
                    <div class="uk-form-controls">
                        <input id="email-input" type="text" maxlength="50" placeholder="邮箱"
                               class="uk-width-1-1" {% if function %} value={{ function.api }} {% endif %}>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">微信id</label>
                    <div class="uk-form-controls">
                        <input id="wxOpenid-input" type="text" maxlength="50" readonly="readonly"
                               class="uk-width-1-1" {% if function %} value={{ function.api }} {% endif %}>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label class="uk-form-label">状态</label>
                    <div class="uk-form-controls">
                        <input id="status-input" type="text" maxlength="50" placeholder="正常"
                               class="uk-width-1-1" {% if function %} value={{ function.api }} {% endif %}>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label class="uk-form-label">头像</label>
                    <div class="uk-form-controls">
                        <img id="headImage-image" src="">
                        <input id="headImage-input" type="text" maxlength="50" placeholder="正常"
                               class="uk-width-1-1" {% if function %} value={{ function.api }} {% endif %}>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label class="uk-form-label">角色</label>
                    <select id="permissions-input" class="form-control input-sm m-bot15">
                        {% for item in permissions %}
                        <option value="{{ item.permissions }}" name="{{ item.permissions}}"
                                {% if user %}
                                {% if user.name == item.permissions %}   selected="selected"
                                {% endif %}
                                {% endif %}> {{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">创建时间</label>
                    <div class="uk-form-controls">
                        <input id="created_at-input" type="text" maxlength="50" readonly="readonly"
                               class="uk-width-1-1" {% if function %} value={{ function.api }} {% endif %}>
                    </div>
                </div>
                <div class="uk-form-row">
                    <button type="button"  onclick="save()"><i class="uk-icon-user"></i> 保存</button>
                    <button type="button"  onclick="remove()"><i class="uk-icon-user"></i> 删除</button>
                </div>
            </form>
        </section>
        <section class="col-md-3">
            <form  id="search-info">

                <div class="uk-form-row">
                    <label class="uk-form-label">关键字:</label>
                    <div class="uk-form-controls">
                        <input name="keyword" type="text" maxlength="50" placeholder="关键字" class="uk-width-1-1 search" {% if user %} value={{ user.name }} {% endif %}>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">会员名:</label>
                    <div class="uk-form-controls">
                        <input name="userName" type="text" maxlength="50" placeholder="功能名字" class="uk-width-1-1 search" {% if user %} value={{ user.name }} {% endif %}>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label class="uk-form-label">手机号码</label>
                    <div class="uk-form-controls">
                        <input name="phone" type="text" maxlength="50" placeholder="显示图标"
                               class="uk-width-1-1 search" {% if user %} value="{{ user.icon }}" {% endif %}>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">邮箱</label>
                    <div class="uk-form-controls">
                        <input name="email" type="text" maxlength="50" placeholder="功能html"
                               class="uk-width-1-1 search" {% if function %} value={{ function.api }} {% endif %}>
                    </div>
                </div>

                <div class="uk-form-row">
                    <label class="uk-form-label">角色</label>
                    <select name="permissions" class="form-control input-sm m-bot15 search">
                        {% for item in permissions %}
                        <option data-id="{{ item.permissions }}"
                                {% if user %}
                                {% if user.name == item.permissions %}   selected="selected"
                                {% endif %}
                                {% endif %}> {{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </section>

    </div>
</section>

{% endblock %}
