{% extends '__manage__.html' %}

{% block title %}商品分类管理{% endblock %}

{% block beforehead %}

<script>
    var goodsCategorys = JSON.parse('{{goodsCategorys|tojson}}');
    var selgoodsCategorys = JSON.parse('{{goodsCategorys|tojson}}');
    var __goodsCategory = null;

    function save() {
        __goodsCategory.name = $("#name-input").val();
        __goodsCategory.icon = $("#icon-input").val();

        var $form = $('#function-info');
        if (!__goodsCategory.name.trim()) {
            return $form.showFormError('请输入名字');
        }
        if (!__goodsCategory.icon.trim()) {
            return $form.showFormError('请输入icon');
        }
        var posturl = "";
        if (__goodsCategory.id) {
            posturl = '/api/goodsCategory/' + __goodsCategory.id;
        } else {
            posturl = '/api/goodsCategory';
        }
        postJSON(posturl, __goodsCategory, function (err, r) {
            if (err) {
                return error(err);
            } else {
                refresh();
            }
        });
    }

    function remove() {

        var $form = $('#function-info');
        var posturl = "";
        if (__goodsCategory.id) {
            posturl = '/api/goodsCategory/' + __goodsCategory.id + '/delete';
        } else {
            return $form.showFormError('error');
        }
        postJSON(posturl, function (err, r) {
            if (err) {
                return error(err);
            } else {
                refresh();
            }
        });
    }
    //添加属性
    function addAttribute() {
        var attributeName = $("#attributeName").val().trim(),
            posturl = '/api/attribute',
            data = {
                "name": attributeName
            }

        postJSON(posturl, data, function (err, r) {
            if (err) {
                return error(err);
            } else {
                getAttributes();
            }
        });
    }
    //删除属性
    function deleteAddAttribute(attid,name) {
        if (confirm('确认要删除属性 "'+name+'" ？删除后不可恢复！')) {
            postJSON('/api/attribute/'+attid+'/delete', function (err, r) {
                if (err) {
                    return error(err);
                } else {
                    getAttributes();
                }
            });
        }


    }


    //获取属性列表
    function getAttributes() {

        var attributeName = $("#attributeName").val().trim(),
            posturl = '/api/attributes',
            data = {
                "categoryid": __goodsCategory.id
            }

        getJSON(posturl, data, function (err, r) {
            if (err) {
                return error(err);
            } else {
                reloadnotAttribute(r.notAtts);
                reloadAttribute(r.atts);
            }
        });
    }
    //关联属性
    function linkAttribute(attid) {

        var data = {
            "categoryid": __goodsCategory.id,
            "attributeid":attid

        }
        postJSON('/api/linkAttributes', data, function (err, r) {
            if (err) {
                return error(err);
            } else {
                getAttributes();
            }
        });
    }
    //取消关联的属性
    function revokeAttributes(attid) {

        var data = {
            "categoryid": __goodsCategory.id,
            "attributeid":attid

        }
        postJSON('/api/revokeAttributes', data, function (err, r) {
            if (err) {
                return error(err);
            } else {
                getAttributes();
            }
        });

    }

    //刷新未使用属性列表
    function reloadnotAttribute(notAtts) {
        $("#notAtt_ul").empty();
        for(item of notAtts){

            var li = document.createElement("li");
            var span = document.createElement("span");
            li.appendChild(span);

            var a = document.createElement("input");
            a.setAttribute("type", 'text');
            a.setAttribute("value", item.name);
            span.appendChild(a);

            var delbtn = document.createElement("button");
            delbtn.setAttribute("class", 'pull-right  btn-danger');
            delbtn.innerHTML = "删除";
            delbtn.setAttribute("onclick",'deleteAddAttribute("'+ item.id + '","' + item.name +'")');
            span.appendChild(delbtn);



            var linkbtn = document.createElement("button");
            linkbtn.setAttribute("class", 'pull-right  btn-info');
            linkbtn.innerHTML = "关联";
            linkbtn.setAttribute("onclick",'linkAttribute("'+item.id+'")')
            span.appendChild(linkbtn);

            $("#notAtt_ul").append(li);
        }

    }

    //刷新未使用属性列表
    function reloadAttribute(atts) {

        $("#att_ul").empty();
        for(item of atts){

            var li = document.createElement("li");
            var span = document.createElement("span");
            li.appendChild(span);

            var a = document.createElement("a");
            a.innerHTML = item.name;
            a.setAttribute("href", 'javascript:;');
            span.appendChild(a);

            var revokebtn = document.createElement("button");
            revokebtn.setAttribute("class", 'pull-right btn btn-danger btn-xs');
            revokebtn.innerHTML = "取消关联";
            revokebtn.setAttribute("onclick",'revokeAttributes("'+item.id+'")')
            span.appendChild(revokebtn);

            $("#att_ul").append(li);
        }

    }

    $(function () {

        $('#main-content').show();
        $('#loading').hide();
    });

</script>


{% endblock %}

{% block main %}

<section id="main-content">

    <div class="row">
        <div class="col-md-4">

            <section class="panel" id="functions-list">
                <header class="panel-heading">
                    <ul id="sidebar-Categorys" class="breadcrumb"></ul>
                </header>
                <div class="panel-body">
                    <ul id="sidebaritem-Categorys" class="nav prod-cat">

                    </ul>
                </div>
            </section>
        </div>
        <div class="col-md-8">
            <section class="panel">
                <header class="panel-heading">
                    添加/修改类目
                    <span class="tools pull-right">
                    <button type="button" onclick="save()" class="btn btn-info"><i class="fa fa-save"></i> 保存</button>
                    <button type="button" onclick="remove()" class="btn btn-warning"><i
                            class="fa fa-trash-o"></i> 删除</button>
                </span>
                </header>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="control-label">分类名</label>
                        <input id="name-input" type="text" maxlength="50" placeholder="功能名字" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="control-label">分类icon</label>
                        <input id="icon-input" type="text" maxlength="50" placeholder="显示图标" class="form-control">
                    </div>


                    <div class="form-group">
                        <label class="control-label">选择所属分类</label>
                        <header>
                            <ul id="select-Categorys" class="breadcrumb"></ul>
                        </header>
                        <div class="">
                            <ul id="selectitem-Categorys" class="nav prod-cat">

                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div id="attributeName_div" class="row">
                <div class="col-md-6">
                    <section class="panel profile-nav">
                        <div class="user-heading alt">

                            <h1>已关联属性</h1>

                        </div>

                        <ul id="att_ul" class="nav nav-pills nav-stacked">

                        </ul>

                    </section>
                </div>
                <div class="col-md-6">
                    <section class="panel profile-nav">
                        <div class="user-heading alt">

                            <div class="input-group">
                                <input id="attributeName" type="text" class="form-control">
                                <span class="input-group-btn">
                                   <button class="btn btn-info" type="button" onclick="addAttribute()">新增</button>
                                </span>
                            </div>

                        </div>
                        <div class="panel-body">

                            <ul id="notAtt_ul" class="nav nav-pills nav-stacked">
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block endbody %}
<script src="/static/js/Category.js"></script>
<script>
    jQuery(document).ready(function () {

        var navCategory = new Category(goodsCategorys, $("#sidebar-Categorys"), $("#sidebaritem-Categorys"));
        var selCategory = null;
        setgoodsCategoryData();

        function setgoodsCategoryData() {

            if (!__goodsCategory) __goodsCategory = new Object();
            $("#name-input").val(__goodsCategory.name);
            $("#icon-input").val(__goodsCategory.icon);
            selCategory = new Category(selgoodsCategorys, $("#select-Categorys"), $("#selectitem-Categorys"));
            selCategory.reloadSelectItembyid(__goodsCategory.fatherid);
            selCategory.shownav(selCategory.navdom);
            selCategory.showlist(selCategory.selectdom);

            if (__goodsCategory.depth == 3) {

                $("#attributeName_div").show();
                getAttributes();
            } else {
                $("#attributeName_div").hide();
            }
        }


        $("#sidebar-Categorys").on('click', '.item-li', function (e) {

            navCategory.deleteSelectItem();
            navCategory.reloadSelectItembyid(this.dataset.id);
            navCategory.shownav(navCategory.navdom);
            navCategory.showlist(navCategory.selectdom);
            __goodsCategory = navCategory.getItembyid(goodsCategorys, this.dataset.id);
            setgoodsCategoryData();


        });
        $("#sidebaritem-Categorys").on('click', '.item-li', function (e) {

            navCategory.deleteSelectItem();
            navCategory.reloadSelectItembyid(this.dataset.id);
            navCategory.shownav(navCategory.navdom);
            navCategory.showlist(navCategory.selectdom);
            __goodsCategory = navCategory.getItembyid(goodsCategorys, this.dataset.id);
            setgoodsCategoryData();

        });

        $("#select-Categorys").on('click', '.item-li', function (e) {

            selCategory.deleteSelectItem();
            selCategory.reloadSelectItembyid(this.dataset.id);
            selCategory.shownav(selCategory.navdom);
            selCategory.showlist(selCategory.selectdom);

            __goodsCategory.fatherid = this.dataset.id;


        });
        $("#selectitem-Categorys").on('click', '.item-li', function (e) {

            selCategory.deleteSelectItem();
            selCategory.reloadSelectItembyid(this.dataset.id);
            selCategory.shownav(selCategory.navdom);
            selCategory.showlist(selCategory.selectdom);
            __goodsCategory.fatherid = this.dataset.id;

        });
    });
</script>
{% endblock %}
