<!--用户登录-->
<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
    <meta charset="utf-8"/>
    <title>登录 - UbunGit</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="/static/assets/jquery/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    <script>
        function signin(event) {

            event.preventDefault();
            var
                email = $("#email-input").val().trim().toLowerCase(),
                tem = $("#passwd-input").val(),

                data = {
                    email: email,
                    passwd: $("#passwd-input").val() === '' ? '' : CryptoJS.SHA1(email + ':' + $("#passwd-input").val()).toString()
                };
            alert(tem);
            postJSON('/api/users/authenticate', data, function (err, result) {
                if (!err) {
                    location.assign('/');
                }else {
                    error(err);
                }
            });

        }

    </script>
</head>
<body class="login-body">
<div class="container">
    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">sign in now</h2>
            <div class="login-wrap">
                <input type="text" id="email-input" class="form-control" placeholder="User ID" autofocus="">
                <input type="password" id="passwd-input" class="form-control" placeholder="Password">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                    <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                </span>
                </label>

                <button class="btn btn-lg btn-login btn-block" type="submit" onclick="signin(event)">Sign in</button>
                <div class="registration">
                    Don't have an account yet?
                    <a class="" href="/register">
                        Create an account
                    </a>
                </div>

            </div>

            <!--<div class="uk-form-row">-->
            <!--<div class="uk-form-icon uk-width-1-1">-->
            <!--<i class="uk-icon-envelope-o"></i>-->
            <!--<input v-model="email" name="email" type="text" placeholder="电子邮件" maxlength="50" class="uk-width-1-1 uk-form-large">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="uk-form-row">-->
            <!--<div class="uk-form-icon uk-width-1-1">-->
            <!--<i class="uk-icon-lock"></i>-->
            <!--<input v-model="passwd" name="passwd" type="password" placeholder="口令" maxlength="50" class="uk-width-1-1 uk-form-large">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="uk-form-row">-->
            <!--<button type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large"><i class="uk-icon-sign-in"></i> 登录</button>-->
            <!--</div>-->
        </form>
    </div>
</div>
</body>
</html>
